<ion-navbar *navbar primary>
  <ion-title>{{stop.stop_name}}</ion-title>
</ion-navbar>

<ion-content class="stop-info">
  <ion-refresher (refresh)="refresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item (click)="openMap(stop)">
      <ion-icon name="map"></ion-icon>
      Show Map
    </ion-item>
    <ion-item *ngFor="#dep of departures">
      <h2>{{dep.headsign}}</h2>
      <p>{{dep.expected_mins + ' min'}}</p>
      <div class="circle" item-right [style.background-color]="bg(dep.route.route_color)"></div>
    </ion-item>
    <ion-item *ngIf="departures.length==0" class="text-center">
      <p>No upcoming buses</p>
    </ion-item>
  </ion-list>
</ion-content>
<ion-toolbar position="bottom">
  <div style="display: table; width: 100%;">
    <div style="display: table-cell; vertical-align: middle;"><div *ngFor="#route of routes" class="circle" [style.background-color]="bg(route.route_color)"></div></div>
    <h1 style="display: table-cell; vertical-align: middle; text-align: right;"><favorite [stop]="stop"></favorite></h1>
  </div>
  <!-- <ion-buttons end>
    <h1 class="extra-bottom"><favorite end [stop]="stop"></favorite></h1>
  </ion-buttons> -->
</ion-toolbar>
<!-- <button class="above" fab fab-bottom fab-right>
  <h1 class="extra-bottom"><favorite end [stop]="stop"></favorite></h1>
</button> -->
